@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Jost', sans-serif;
}
body,
html {
    overflow-x: hidden;
    padding: 0.50rem;
}


header{
    position: relative;
    
}
/* header-start */
nav{
    height:13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  
  
}

.fa{
    padding: 2px;
 
 }

.checkbtn{
    font-size: 30px;
    color:#000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.logoh{
    width: 10vh;
}
.logoh img{
    width: 100%;
}
ul{
    list-style-type: none;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color: #69697b;
    padding: 0px 17px;
    font-size: 18px;
}
ul li a:hover{
    color: #0C9DB3;
}
#regis_btn{
    border: none;
    padding: 12px 23px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #0c9db3; 
    color: #fff;
}
#regis_btn:hover{
    cursor: pointer;
    color:#009bb5;
    background-color: #fff;
    border: 1px solid #009bb5;
}
/* header-end */

.toogle1,.toogle2{
    display: none;
}


/* footer start */

.footerstart{
    margin-bottom: 56rem;
    font-size: 18px;
    color: #69697b;
    }
    
    
    a{
        text-decoration: none;
    }
    
    .footerupper {
        display: grid;
        grid-template-columns: 1fr 1.4fr 1.4fr;
        padding: 0.50rem;
        font-family: 'Jost', sans-serif;
    
    
    }
    
    .footerfirstpart {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.90rem;
     
    
    
    }
    
    .colorfontaw{
       background-color: #fafafa;
        padding: 0.90rem;
        border-radius: 100%;
        color: #69697b
        ;
    
    }
    
    .colorfontaw:hover{
        color: #ffffff;
        background-color: #0c9db3;
         padding: 0.90rem;
         border-radius: 100%;
         
     }
    
    
    .bisjintuslogo {
        width: 8rem;
    }
    
    .bisjintuslogo img {
        width: 100%;
    }
    
    .bisjintusocialicon {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.2rem;
    
    }
    
    .bisjintusocialicon :nth-child(1) {
        display: flex;
        gap: 1rem;
    }
    
    
    .bisjintusocialicon :nth-child(2) {
        display: flex;
        gap: 1rem;
    }
    
    .footersecondpart {
     
        padding: 0.20rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    
    }
    
    .FOOTSECONANDTHIRS{
        color: #0c9db3;
    }
    
    .footer-link-li{
        color: #69697b;
    }
    
    .footer-link-li:hover{
        color: #0c9db3;
    }
    
    .footersecondpart :nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 4px;
    
    }
    
    .footersecondpart-li {
        list-style: none;
    }
    
    .footersecondpart :nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 4px;
    
    }
    
    .footerthirdpart {
        padding: 0.90rem;
        align-items: center;
     
        display: flex;
        flex-direction: column;
    
    }
    
    .footerthirdpart :nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 4px;
    
    
    }
    
    .dropdows{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    
    .legalbtn {
        display: none;
        margin-bottom: 30px;
        padding: 0.1rem;
        background-color: transparent;
        color:#0c9db3;
        font-size: large;
        width: 100%;
        font-weight: bold;
        border: none;
        
    }
    
    .legalbtn2{
        display: none;
        text-align: start;
        margin-bottom: 30px;
        padding: 0.1rem;
        background-color: transparent;
        color:#0c9db3;
        font-size: large;
        width: 100%;
        font-weight: bold;
        border: none;
        
    }
    /*    lowerfooter    */
    
    
    .footerlower{
        display: flex;
        display: flex;
        padding: 1rem;
        font-size: 16px;
        justify-content: space-between;
    }
    
    .footerlower .footlowerfirt {
     
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        gap: 3rem;
    
    }
    
    .leftlowerfot1{
        display: flex;
        flex-direction: column;
        padding: 1px;
        justify-content: center;
        align-items: start;
        gap: 2px;
    }
    
    
    
    .footerlower :nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imageofstartup{
        width:80%;
    }
    .imageofstartup img{
        width: 100%;
    }
    .footerlower :nth-child(3){
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: start;
        font-size: 18px;
     
    }
    .contacctcl{
     color: #0c9db3;
    }
    
    .contactresponsive{
        display: none;
    }
    
    .contactpart1 :nth-child(1){
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 0rem;
        align-items: start;
        justify-content: center;
        font-weight: bold;
    }
    
    
    .contactpart1 :nth-child(2){
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 0rem;
        align-items: start;
        justify-content: center;
    }
    
    .contactpart1 :nth-child(3){
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 0rem;
        align-items: start;
        justify-content: center;
    }
    
    .contactpart1 :nth-child(4){
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 0rem;
        align-items: start;
        justify-content: center;
    }
    
    
    .morebootom{
        display: flex;
        
      
    }
    
    .more_div{
        display: none;
    }
    .fa-angle-right{
        rotate: 90deg;
    }
    .moretogle{
        display: block ;
    }
    

/* footer end */





/* main content start */




.secp1{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.80rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secp1heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #0c9db3;
}

.in{
    display: flex;
    justify-content: center;
    border: none;
    padding: 15px 35px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #0c9db3; 
    color: #fff;
    margin-bottom: 10vh;
}
.in:hover{
    cursor: pointer;
    color:#009bb5;
    background-color: #fff;
    border: 1px solid #009bb5;
}

table {
    border: 1px solid #009bb5;
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: transparent;
    border: 1px solid #009bb5;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    border: 1px solid #009bb5;

}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* main content end */

/* main content  responsive start */

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* main content  responsive start */


/* header responsive and footer responsive start */


/* header responsive  start */

@media screen and (max-width: 991px){
    .toogle1{
        display: none;
    }
    .toogle2{
        display: block;
      }
    #regis_btn{
        display: none;
    }
    .menu{
        display: none;
    }

  
    .toglee .menu{
        display: block;
        position: absolute;
        top: 13vh;
        background-color: #0b0b2c;
        width: 100%;
        left: 0;
        height: fit-content;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
        transition: 0.9s linear;
        padding: 2rem;
  
  
    }
    .toglee .toogle2{
      display: none;
    }

    .toglee .toogle1{
        display: block;
      }
}
/* header responsive  end */


/* footer start responsive   */
@media screen and (max-width: 991px) {

    .legalbtn ,.legalbtn2{
        display: block;
        width: 100%;
    }
    


    .footerupper {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;



    }


    .footersecondpart {
        padding: 0.90rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        display: none;


    }

    .footersecondpart :nth-child(1) {
        align-items: start;
        justify-content: center;

    }

    .footersecondpart :nth-child(2) {

        align-items: start;
        justify-content: center;


    }

    .footerlower{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .footerlower .footlowerfirt {
 
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    
    }
    
    .leftlowerfot1{
        display: flex;
        flex-direction: column;
        padding: 1px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2.30rem;
    }

    


    





    .footerthirdpart {
        display: none;
    }


    .footerthirdpartdispalybtn {
        display: block;
    }


}



@media screen and (max-width: 472px) {

    .footersecondpart {
     
        padding: 0.90rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6rem;
        align-items: center;
        display: none;

    }

    .footersecondpart :nth-child(1) {
        align-items: start;
        justify-content: center;

    }

    .footersecondpart :nth-child(2) {

        align-items: start;
        justify-content: center;


    }

    .footerthirdpart {
        display: none;
    }

    .footerthirdpartdispalybtn {
        display: block;
    }


}

/* footer responsive end */


/* header responsive and footer responsive end */











